.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  max-width: 250px;
}

table {
  width: 100%;
  margin-top: 20px;
}

button {
  margin-right: 5px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.me-2 {
  margin-right: 8px;
}

.form-control {
  max-width: 200px;
}

.dropdown-menu{
  cursor: pointer;
}